.timer {
  display: flex;
  justify-content: center;
  gap: 13.5px;
  width: 100%;
}

.comingSoon {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.timerSignUpPage .comingSoon {
  color: #333950;
}
  
.comingSoon span {
    color: #5175FF;
}

.timer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 92px;
  background-color: #333950;
  border-radius: 4px;
}

.timerSignUpPage .timer div {
  background-color: #E9EDFB;
}

.timer div p:first-child {
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
}

.timerSignUpPage .timer div p:first-child {
  color: #5175FF;
}

.timer div p:nth-child(2) {
  font-weight: 700;
  font-size: 12px;
  line-height: 28px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.timerSignUpPage div p:nth-child(2) {
  color: #333950;
  mix-blend-mode: normal;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .timer {
    gap: 16px;
  }

  .comingSoon {
    margin-bottom: 8px;
  }

  .timer div {
    width: 100px;
    height: 128px;
    border-radius: 13px;
  }

  .timer div p:first-child {
    font-size: 56px;
  }

  .timer div p:nth-child(2) {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .comingSoon {
    margin-bottom: 0;
  }

  .timerSignUpPage .timer {
    justify-content: flex-start;
  }

  .timerSignUpPage .comingSoon {
    margin-bottom: 8px;
    text-align: left;
  }
}